@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 15% 25%;
    --card: 60 33% 96%;
    --card-foreground: 20 15% 25%;
    --popover: 60 33% 96%;
    --popover-foreground: 20 15% 25%;
    --primary: 45 90% 57%;
    --primary-foreground: 45 90% 5%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 20 15% 25%;
    --muted: 60 20% 85%;
    --muted-foreground: 20 15% 45%;
    --accent: 14 81% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 45 90% 57%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 20 15% 10%;
    --foreground: 60 5% 95%;
    --card: 20 15% 12%;
    --card-foreground: 60 5% 95%;
    --popover: 20 15% 10%;
    --popover-foreground: 60 5% 95%;
    --primary: 45 90% 57%;
    --primary-foreground: 45 90% 5%;
    --secondary: 20 15% 20%;
    --secondary-foreground: 60 5% 95%;
    --muted: 20 15% 20%;
    --muted-foreground: 60 5% 70%;
    --accent: 14 81% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 15% 25%;
    --input: 20 15% 25%;
    --ring: 45 90% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
